# Arquivos temporários e de build
# IDEs e configurações locais
.vscode/
.idea/
*.iml
dataBaseConfig/

# Gradle e build
.gradle/
build/

# Configurações locais
local.properties
database.properties

# Logs e arquivos temporários
*.log
.DS_Store