/* whatsapp.css */
.whatsapp-window {
    -fx-background-color: #ECE5DD;
}

.whatsapp-header {
    -fx-background-color: #075E54;
    -fx-alignment: center-left;
}

.whatsapp-title {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.whatsapp-chat-area {
    -fx-background-color: #ECE5DD;
    -fx-font-family: "Segoe UI Emoji", "Arial", sans-serif; /* Fonte com suporte a emojis */
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-control-inner-background: #ECE5DD;
    -fx-text-fill: #000000;
}

.whatsapp-input {
    -fx-background-color: white;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 8 15 8 15;
    -fx-font-size: 14px;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1;
}

.whatsapp-start-button {
    -fx-background-color: #075E54;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 5;
    -fx-font-family: "Arial";
}

.whatsapp-start-button:hover {
    -fx-background-color: #054D44;
}

.whatsapp-input-area {
    -fx-background-color: #F0F0F0;
}